<div class="page-wrap">
  <div class="header">{{page.header}}</div>
  <main class="clearfix">
    <div class="content-section">
      {{page.content}}
    </div>
        <div class="sidebar-right">
      {{page.sidebar_r}}
    </div>
  </main>
  <footer class="footer">{{page.footer}}</footer>
</div>
