<div class="page-wrap">
	<div class="header">{{ page.header }}</div>
	<main>
		<div class="content-section">
			{{ page.content }}
		</div>
		<div class="sidebar_right">
			{{ page.sidebar_r }}
		</div>
	</main>
	<footer>{{ page.footer }}</footer>
</div>
